#buildList {
    height: 100%;
    width: 100%;
}

.bigFont {
    font-size: 4em;
}


.anime {
  animation: scroll 10s linear infinite;
  -webkit-animation: scroll 10s linear infinite;
  background-image: linear-gradient(
      -20deg,
      rgba(255, 255, 255, .4) 25%,
      transparent 25%,
      transparent 75%,
      rgba(255, 255, 255, .4) 75%,
      rgba(255, 255, 255, .4)
    ) !important;
    background-image: -webkit-linear-gradient(
        -20deg,
        rgba(255, 255, 255, .4) 25%,
        transparent 25%,
        transparent 75%,
        rgba(255, 255, 255, .4) 75%,
        rgba(255, 255, 255, .4)
      ) !important;
  background-size: 20% 100%;
  background-repeat: repeat-x;
}

div.jobNode {
    font-family: "Space Mono", monospace;
    border: 2px solid;
    text-align: center;
    border-radius: 5px;
    background-image: linear-gradient(rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, .4) 100%);
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, .4) 100%);
}

.red {
    background-color: #ff4747;
}

.blue {
    background-color: #4fd14f;
}

.yellow {
    background-color: #ffd902;
}

.aborted, .notbuilt, .grey, .disabled {
    background-color: #888888;
}

@-webkit-keyframes scroll {
    100% { background-position: 0, 0; }
    100%  { background-position: 100%, 0; }
}
